# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
.ipynb_checkpoints/

# Training outputs
models/
LISTS/
#*txt
notes
notes_vsc

# Data
data/
tmp*
*.npy
*.pt
*.ckpt
*.joblib
#*.csv
.tmp
*_o.py

# Figures
PLOTS/
*.png

# System
.DS_Store
diff
prompts/
